# Movie Recommendation System

The objective of this movie recommendation project is to provide personalized and accurate movie suggestions to enhance user satisfaction, increase engagement, and improve user retention on the movie-watching platform, while optimizing resource utilization.

# Import Libraries

In [2]:
import pandas as pd
import numpy as np

# Import Data

In [6]:
df=pd.read_csv(r'C:\Users\91638\Downloads\archive\movies.csv')

In [7]:
df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [9]:
df.shape

(62423, 3)

In [10]:
df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

# Get Feature Selection

In [11]:
df_features=df[['movieId', 'title', 'genres']].fillna('')

In [12]:
df_features.shape

(62423, 3)

In [13]:
df_features

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [16]:
x=df_features

In [17]:
x

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [18]:
x.shape

(62423, 3)

Get Feature Text Conversion to Tokens

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
tfidf=TfidfVectorizer()

In [25]:
x=tfidf.fit_transform(x)

In [26]:
x.shape

(3, 3)

In [27]:
print(x)

  (0, 1)	1.0
  (1, 2)	1.0
  (2, 0)	1.0

In [28]:
from sklearn.metrics.pairwise import cosine_similarity

In [29]:
Similarity_Score=cosine_similarity(x)

In [30]:
Similarity_Score

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [31]:
Similarity_Score.shape

(3, 3)

Get Movie Name as Input from User and Validate for Closest Spelling

In [32]:
Favourite_Movie_Name=input("Enter your favourite movie name : ")

Enter your favourite movie name : Toy Story

In [34]:
All_Movies_Title_List=df['title'].tolist()

In [35]:
import difflib

In [36]:
Movie_Recommendation=difflib.get_close_matches(Favourite_Movie_Name,All_Movies_Title_List)
print(Movie_Recommendation)

['Toy Story (1995)', 'Toy Story 4 (2019)', 'Toy Story 3 (2010)']

In [37]:
Close_Match=Movie_Recommendation[0]
print(Close_Match)

Toy Story (1995)

Index_of_Close_Match_Movie=df[df.title==Close_Match]['movieId'].values[0]
print(Index_of_Close_Match_Movie)

In [42]:
Recommendation_Score=list(enumerate(Similarity_Score[Index_of_Close_Match_Movie]))

In [43]:
len(Recommendation_Score)

3

Get All Movies Sort Based on Recommendation Score wrt Favourite Movie

In [44]:
Sorted_Similar_Movies=sorted(Recommendation_Score,key=lambda x:x[1],reverse =True)

In [48]:
print("Top 3 Movies Suggested by You : \n")
i=1
for movie in Sorted_Similar_Movies:
    index=movie[0]
    title_from_index=df[df.index==index]['title'].values[0]
    if(i<31):
        print(i,'.',title_from_index)
        i+=1

Top 3 Movies Suggested by You :

1 . Jumanji (1995)
2 . Toy Story (1995)
3 . Grumpier Old Men (1995)